* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;

}




input {
  width: 100%;
  font-size: 1.2rem;
  color: grey;
}

.contentGrid {
  width: 100%;
  
}

.background1 {
  background-color: papayawhip;
}

.background2 {
  background-color: floralwhite;
}

.background3 {
  background-color: honeydew;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-self: center;
  width: 100%;
  row-gap: 10px;
  column-gap: 10px;
  /* margin-right: 235px;
  margin-left: 235px; */
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  height: 250px;
  width: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: white;
}

/* .card .card-Content {
  display: flex;
  justify-content: center;
} */

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  height: 184px;
  width: 250px;
}

h3 {
  font-size: 30px;
  color: black;
  text-align: center;
  padding: 10px;
}